body{
    margin:0px;
    color:black;
    background-color: aquamarine;
}

.image_1 {
    height: 100vh;
    background-image: url(Man-o-war.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.image_2 {
    height: 100vh;
    background-image: url(Dolphin.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.image_3 {
    height: 100vh;
    background-image: url(Shark.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.image_4 {
    height: 100vh;
    background-image: url(Whale_mod.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.image_5 {
    height: 100vh;
    background-image: url(Anglerfish_mod.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex
    flex-direction: column;
    justify-content: center;
    align-items:center;
}